/* Страница аккаунт */

position: relative;
width: 1440px;
height: 1024px;

background: #FFFFFF;


/* Шапка */

position: absolute;
width: 1440px;
height: 89px;
left: 0px;
top: 0px;

background: #372579;


/* Лого мтуси */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 10px;

position: absolute;
width: 372px;
height: 49px;
left: 100px;
top: 20px;



/* Лого МТУСИ */

width: 49px;
height: 49px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Polygon 1 */

box-sizing: border-box;

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

border: 4px solid #FFFFFF;
border-radius: 10px;


/* MTUCI Guesser */

width: 313px;
height: 49px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 49px;
/* identical to box height */

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Кнопка профиля */

box-sizing: border-box;

position: absolute;
width: 49px;
height: 49px;
left: 1291px;
top: 20px;

background: #372579;
border: 2px solid #FFFFFF;
border-radius: 37.5px;


/* user */

position: absolute;
width: 25px;
height: 25px;
left: calc(50% - 25px/2);
top: calc(50% - 25px/2);



/* Vector */

position: absolute;
left: 29.17%;
right: 29.17%;
top: 14.58%;
bottom: 43.75%;

border: 2px solid #FFFFFF;


/* Vector */

position: absolute;
left: 20.83%;
right: 20.83%;
top: 58.75%;
bottom: 12.08%;

border: 2px solid #FFFFFF;


/* Ваш аккаунт */

position: absolute;
width: 272px;
height: 49px;
left: 584px;
top: 139px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 49px;
/* identical to box height */

color: #372579;



/* Содержание страницы */

position: absolute;
width: 761px;
height: 356px;
left: 340px;
top: 288px;



/* Фото профиля и кнопка добавить */

position: absolute;
width: 261px;
height: 204px;
left: 0px;
top: 76px;



/* Ellipse 13 */

position: absolute;
width: 170px;
height: 170px;
left: 46px;
top: 0px;

background: #D9D9D9;


/* user */

position: absolute;
width: 120px;
height: 120px;
left: calc(50% - 120px/2 + 0.5px);
top: calc(50% - 120px/2 - 17px);

transform: matrix(-1, 0, 0, 1, 0, 0);


/* Vector */

position: absolute;
left: 29.17%;
right: 29.17%;
top: 14.58%;
bottom: 43.75%;

border: 6px solid #8B8B8B;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* Vector */

position: absolute;
left: 20.83%;
right: 20.83%;
top: 57.92%;
bottom: 12.92%;

border: 6px solid #8B8B8B;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* Добавить фото профиля */

position: absolute;
width: 261px;
height: 24px;
left: 0px;
top: 180px;



/* Плюс добавить */

position: absolute;
width: 24px;
height: 24px;
left: 0px;
top: 0px;



/* Ellipse 12 */

box-sizing: border-box;

position: absolute;
width: 24px;
height: 24px;
left: 0px;
top: 0px;

background: #FFFFFF;
border: 2px solid #372579;


/* Плюс */

position: absolute;
width: 16px;
height: 16px;
left: 4px;
top: 4px;



/* Rectangle 1 */

position: absolute;
width: 16px;
height: 2px;
left: 0px;
top: 7px;

background: #372579;


/* Rectangle 2 */

position: absolute;
width: 16px;
height: 2px;
left: 7px;
top: 0px;

background: #372579;
transform: rotate(-90deg);


/* Добавить фото профиля */

position: absolute;
width: 232px;
height: 22px;
left: 29px;
top: 1px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;
/* identical to box height */

color: #372579;



/* Поля данные аккаунта */

position: absolute;
width: 400px;
height: 356px;
left: 361px;
top: 0px;



/* Поле имя */

position: absolute;
width: 400px;
height: 74px;
left: 0px;
top: 0px;



/* Поле на странице аккаунта */

box-sizing: border-box;

position: absolute;
width: 400px;
height: 49px;
left: 0px;
top: 25px;

background: #FFFFFF;
border: 2px solid #372579;
border-radius: 60px;


/* Имя */

position: absolute;
width: 41px;
height: 22px;
left: 25px;
top: 0px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;
/* identical to box height */

color: #372579;



/* Владимир */

position: absolute;
width: 138px;
height: 30px;
left: 20px;
top: 35px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 30px;

color: #372579;



/* Поле фамилия */

position: absolute;
width: 400px;
height: 74px;
left: 0px;
top: 94px;



/* Поле на странице аккаунта */

box-sizing: border-box;

position: absolute;
width: 400px;
height: 49px;
left: 0px;
top: 25px;

background: #FFFFFF;
border: 2px solid #372579;
border-radius: 60px;


/* Фамилия */

position: absolute;
width: 90px;
height: 22px;
left: 25px;
top: 0px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;
/* identical to box height */

color: #372579;



/* Иванов */

position: absolute;
width: 100px;
height: 30px;
left: 20px;
top: 35px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 30px;

color: #372579;



/* Поле почта */

position: absolute;
width: 400px;
height: 74px;
left: 0px;
top: 188px;



/* Поле на странице аккаунта */

box-sizing: border-box;

position: absolute;
width: 400px;
height: 49px;
left: 0px;
top: 25px;

background: #FFFFFF;
border: 2px solid #372579;
border-radius: 60px;


/* Почта */

position: absolute;
width: 57px;
height: 22px;
left: 25px;
top: 0px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;
/* identical to box height */

color: #372579;



/* vladimirivanov1@gmail.com */

position: absolute;
width: 356px;
height: 30px;
left: 20px;
top: 35px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 30px;

color: #372579;



/* Поле пароль */

position: absolute;
width: 400px;
height: 74px;
left: 0px;
top: 282px;



/* Поле на странице аккаунта */

box-sizing: border-box;

position: absolute;
width: 400px;
height: 49px;
left: 0px;
top: 25px;

background: #FFFFFF;
border: 2px solid #372579;
border-radius: 60px;


/* Пароль */

position: absolute;
width: 72px;
height: 22px;
left: 25px;
top: 0px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;
/* identical to box height */

color: #372579;



/* qwerty123 */

position: absolute;
width: 128px;
height: 30px;
left: 20px;
top: 35px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 30px;

color: #372579;



/* Кнопка сохранить изменения */

box-sizing: border-box;

position: absolute;
width: 357px;
height: 49px;
left: calc(50% - 357px/2 + 0.5px);
top: 744px;

background: #372579;
border: 2px solid #372579;
border-radius: 60px;


/* Сохранить изменения */

position: absolute;
width: 295px;
height: 30px;
left: calc(50% - 295px/2);
top: calc(50% - 30px/2 + 0.5px);

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 30px;

color: #FFFFFF;

