/* Страница с открытым меню аккаунта */

position: relative;
width: 1440px;
height: 1024px;

background: #FFFFFF;


/* Круги фон */

position: absolute;
width: 1440px;
height: 1024px;
left: 0px;
top: 0px;



/* Ellipse 2 */

position: absolute;
width: 450px;
height: 450px;
left: 106px;
top: 535px;

background: #372579;
filter: blur(205px);


/* Ellipse 4 */

position: absolute;
width: 787px;
height: 787px;
left: 1014px;
top: 96px;

background: #372579;
filter: blur(375px);


/* Ellipse 6 */

position: absolute;
width: 228px;
height: 228px;
left: -61px;
top: 0px;

background: #372579;
filter: blur(110px);


/* Меню аккаунт */

position: absolute;
width: 250px;
height: 100px;
left: 1180px;
top: 139px;

background: #FFFFFF;
border-radius: 4px;


/* Кнопка аккаунт */

position: absolute;
width: 248px;
height: 49px;
left: 1px;
top: 1px;

background: #DFD6FF;
border-radius: 4px;


/* Аккаунт */

position: absolute;
width: 107px;
height: 30px;
left: calc(50% - 107px/2 - 0.5px);
top: calc(50% - 30px/2 + 0.5px);

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 30px;

color: #372579;



/* Выйти */

position: absolute;
width: 248px;
height: 49px;
left: 1px;
top: 50px;

background: #FFFFFF;
border-radius: 4px;


/* Выйти */

position: absolute;
width: 86px;
height: 30px;
left: calc(50% - 86px/2);
top: calc(50% - 30px/2 + 0.5px);

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 30px;

color: #F33F3F;



/* Polygon 2 */

box-sizing: border-box;

position: absolute;
width: 32.91px;
height: 47.25px;
left: 1361px;
top: 151px;

background: #000000;
border: 2px solid #8B8B8B;
transform: rotate(-45deg);


/* Группа кнопок */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 20px;

position: absolute;
width: 415px;
height: 75px;
left: 513px;
top: 550px;



/* Кнопка старт */

box-sizing: border-box;

width: 320px;
height: 75px;

background: #FFFFFF;
border: 4px solid #372579;
border-radius: 60px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Начать игру */

position: absolute;
width: 192px;
height: 37px;
left: calc(50% - 192px/2);
top: calc(50% - 37px/2);

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 37px;
/* identical to box height */

color: #372579;



/* Кнопка вопрос */

width: 75px;
height: 75px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Ellipse 1 */

box-sizing: border-box;

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #FFFFFF;
border: 4px solid #372579;


/* ? */

position: absolute;
width: 18px;
height: 37px;
left: calc(50% - 18px/2 - 0.5px);
top: calc(50% - 37px/2);

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 37px;
/* identical to box height */

color: #372579;



/* Группа верх */

position: absolute;
width: 1240px;
height: 49px;
left: 100px;
top: 80px;



/* Лого мтуси */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 10px;

position: absolute;
width: 372px;
height: 49px;
left: 0px;
top: 0px;



/* Лого МТУСИ */

width: 49px;
height: 49px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Polygon 1 */

box-sizing: border-box;

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

border: 4px solid #372579;
border-radius: 10px;


/* MTUCI Guesser */

width: 313px;
height: 49px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 49px;
/* identical to box height */

color: #372579;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Кнопка профиля */

box-sizing: border-box;

position: absolute;
width: 49px;
height: 49px;
left: 1191px;
top: 0px;

background: #FFFFFF;
border: 2px solid #372579;
border-radius: 37.5px;


/* user */

position: absolute;
width: 25px;
height: 25px;
left: calc(50% - 25px/2);
top: calc(50% - 25px/2);



/* Vector */

position: absolute;
left: 29.17%;
right: 29.17%;
top: 14.58%;
bottom: 43.75%;

border: 2px solid #372579;


/* Vector */

position: absolute;
left: 20.83%;
right: 20.83%;
top: 58.75%;
bottom: 12.08%;

border: 2px solid #372579;
