/* Страница с результатом */

position: relative;
width: 1440px;
height: 1024px;

background: #FFFFFF;


/* Шапка */

position: absolute;
width: 1440px;
height: 89px;
left: 0px;
top: 0px;

background: #372579;


/* Лого мтуси */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 10px;

position: absolute;
width: 372px;
height: 49px;
left: 100px;
top: 20px;



/* Лого МТУСИ */

width: 49px;
height: 49px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Polygon 1 */

box-sizing: border-box;

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

border: 4px solid #FFFFFF;
border-radius: 10px;


/* MTUCI Guesser */

width: 313px;
height: 49px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 49px;
/* identical to box height */

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Кнопка профиля */

box-sizing: border-box;

position: absolute;
width: 49px;
height: 49px;
left: 1291px;
top: 20px;

background: #372579;
border: 2px solid #FFFFFF;
border-radius: 37.5px;


/* user */

position: absolute;
width: 25px;
height: 25px;
left: calc(50% - 25px/2);
top: calc(50% - 25px/2);



/* Vector */

position: absolute;
left: 29.17%;
right: 29.17%;
top: 14.58%;
bottom: 43.75%;

border: 2px solid #FFFFFF;


/* Vector */

position: absolute;
left: 20.83%;
right: 20.83%;
top: 58.75%;
bottom: 12.08%;

border: 2px solid #FFFFFF;


/* Результат */

position: absolute;
width: 517px;
height: 454px;
left: calc(50% - 517px/2 + 0.5px);
top: calc(50% - 454px/2);



/* Карта */

box-sizing: border-box;

position: absolute;
width: 517px;
height: 276px;
left: calc(50% - 517px/2);
top: 0px;

background: #FFFFFF;
border: 2px solid #372579;
border-radius: 10px;


/* Ваш результат */

position: absolute;
width: 313px;
height: 49px;
left: 102px;
top: 296px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 49px;
/* identical to box height */

color: #372579;



/* 75 из 100 баллов */

position: absolute;
width: 217px;
height: 30px;
left: 150px;
top: 355px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 30px;

color: #372579;



/* Кнопка следующий раунд */

position: absolute;
width: 309px;
height: 49px;
left: 104px;
top: 405px;

background: #372579;
border-radius: 60px;


/* Следующий раунд */

position: absolute;
width: 247px;
height: 30px;
left: calc(50% - 247px/2);
top: calc(50% - 30px/2 + 0.5px);

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 30px;

color: #FFFFFF;

