/* На главной странице правила */

position: relative;
width: 1440px;
height: 1024px;

background: #FFFFFF;


/* Круги фон */

position: absolute;
width: 1440px;
height: 1024px;
left: 0px;
top: 0px;



/* Ellipse 2 */

position: absolute;
width: 450px;
height: 450px;
left: 106px;
top: 535px;

background: #372579;
filter: blur(205px);


/* Ellipse 4 */

position: absolute;
width: 787px;
height: 787px;
left: 1014px;
top: 96px;

background: #372579;
filter: blur(375px);


/* Ellipse 6 */

position: absolute;
width: 228px;
height: 228px;
left: -61px;
top: 0px;

background: #372579;
filter: blur(110px);


/* Группа кнопок */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 20px;

position: absolute;
width: 415px;
height: 75px;
left: 513px;
top: 550px;



/* Кнопка старт */

box-sizing: border-box;

width: 320px;
height: 75px;

background: #FFFFFF;
border: 4px solid #372579;
border-radius: 60px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Начать игру */

position: absolute;
width: 192px;
height: 37px;
left: calc(50% - 192px/2);
top: calc(50% - 37px/2);

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 37px;
/* identical to box height */

color: #372579;



/* Кнопка вопрос */

width: 75px;
height: 75px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Ellipse 1 */

box-sizing: border-box;

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #FFFFFF;
border: 4px solid #372579;


/* ? */

position: absolute;
width: 18px;
height: 37px;
left: calc(50% - 18px/2 - 0.5px);
top: calc(50% - 37px/2);

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 37px;
/* identical to box height */

color: #372579;



/* Верх группа */

position: absolute;
width: 1240px;
height: 49px;
left: 100px;
top: 80px;



/* Кнопка войти */

position: absolute;
width: 144px;
height: 49px;
left: 809px;
top: 0px;

background: #372579;
border-radius: 60px;


/* Войти */

position: absolute;
width: 82px;
height: 30px;
left: calc(50% - 82px/2);
top: calc(50% - 30px/2 + 0.5px);

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 30px;

color: #FFFFFF;



/* Лого мтуси */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 10px;

position: absolute;
width: 372px;
height: 49px;
left: 0px;
top: 0px;



/* Лого МТУСИ */

width: 49px;
height: 49px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Polygon 1 */

box-sizing: border-box;

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

border: 4px solid #372579;
border-radius: 10px;


/* MTUCI Guesser */

width: 313px;
height: 49px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 49px;
/* identical to box height */

color: #372579;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Кнопка создать аккаунт */

box-sizing: border-box;

position: absolute;
width: 277px;
height: 49px;
left: 963px;
top: 0px;

background: #FFFFFF;
border: 2px solid #372579;
border-radius: 60px;


/* Создать аккаунт */

position: absolute;
width: 215px;
height: 30px;
left: calc(50% - 215px/2);
top: calc(50% - 30px/2 + 0.5px);

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 30px;

color: #372579;



/* Окно правила */

box-sizing: border-box;

position: absolute;
width: 900px;
height: 531px;
left: calc(50% - 900px/2);
top: calc(50% - 531px/2 + 0.5px);

background: #FFFFFF;
border: 4px solid #372579;
border-radius: 20px;


/* Правила игры */

position: absolute;
width: 228px;
height: 37px;
left: calc(50% - 228px/2);
top: 40px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 37px;
/* identical to box height */

color: #372579;



/* Кнопка прочитал */

box-sizing: border-box;

position: absolute;
width: 192px;
height: 49px;
left: calc(50% - 192px/2);
top: 457px;

background: #372579;
border: 2px solid #372579;
border-radius: 60px;


/* Прочитал */

position: absolute;
width: 130px;
height: 30px;
left: calc(50% - 130px/2);
top: calc(50% - 30px/2 + 0.5px);

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 30px;

color: #FFFFFF;



/* В ходе игры вам будут представлены фотографии различных мест внутри главного корпуса МТУСИ. Ваша задача – угадать, где сделано фото, выбрав этаж и точку на карте. Фотографию можно переключать с помощью стрелок, расположенных по бокам кадра. После выбора конкретного места нажмите кнопку «Готово». Появится окно с вашим ответом, правильным ответом и количеством заработанных баллов. Затем нажмите «Следующий раунд», чтобы перейти к следующему фото. После завершения всех раундов вы увидите итоговое количество баллов и своё место в рейтинге. Вы можете начать игру заново, нажав «Пройти заново» – при этом предыдущий результат будет сброшен. Максимальное количество – 100 баллов за один раунд. Баллы начисляются в зависимости от точности вашего ответа: в случае выбора неверного этажа вы получаете только 10 баллов, а за полностью правильный ответ – 100 баллов. */

position: absolute;
width: 850px;
height: 330px;
left: 25px;
top: 102px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;
text-align: center;

color: #372579;

