/* Страница итог */

position: relative;
width: 1440px;
height: 1024px;

background: #FFFFFF;


/* Шапка */

position: absolute;
width: 1440px;
height: 89px;
left: 0px;
top: 0px;

background: #372579;


/* Лого мтуси */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 10px;

position: absolute;
width: 372px;
height: 49px;
left: 100px;
top: 20px;



/* Лого МТУСИ */

width: 49px;
height: 49px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Polygon 1 */

box-sizing: border-box;

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

border: 4px solid #FFFFFF;
border-radius: 10px;


/* MTUCI Guesser */

width: 313px;
height: 49px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 49px;
/* identical to box height */

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Кнопка профиля */

box-sizing: border-box;

position: absolute;
width: 49px;
height: 49px;
left: 1291px;
top: 20px;

background: #372579;
border: 2px solid #FFFFFF;
border-radius: 37.5px;


/* user */

position: absolute;
width: 25px;
height: 25px;
left: calc(50% - 25px/2);
top: calc(50% - 25px/2);



/* Vector */

position: absolute;
left: 29.17%;
right: 29.17%;
top: 14.58%;
bottom: 43.75%;

border: 2px solid #FFFFFF;


/* Vector */

position: absolute;
left: 20.83%;
right: 20.83%;
top: 58.75%;
bottom: 12.08%;

border: 2px solid #FFFFFF;


/* Баллы и кнопки */

position: absolute;
width: 688px;
height: 188px;
left: 376px;
top: 708px;



/* Вы набрали 1554 из 1600 баллов */

position: absolute;
width: 688px;
height: 49px;
left: calc(50% - 688px/2);
top: 0px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 49px;
/* identical to box height */

color: #372579;



/* И заняли 2 место */

position: absolute;
width: 227px;
height: 30px;
left: calc(50% - 227px/2 + 0.5px);
top: 69px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 30px;

color: #372579;



/* Кнопка пройти заново */

position: absolute;
width: 263px;
height: 49px;
left: calc(50% - 263px/2 + 0.5px);
top: 139px;

background: #372579;
border-radius: 60px;


/* Следующий раунд */

position: absolute;
width: 201px;
height: 30px;
left: calc(50% - 201px/2);
top: calc(50% - 30px/2 + 0.5px);

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 30px;

color: #FFFFFF;



/* Таблица игроков */

box-sizing: border-box;

position: absolute;
width: 615px;
height: 450px;
left: calc(50% - 615px/2 + 0.5px);
top: 218px;

background: #FFFFFF;
border: 3px solid #69647E;
border-radius: 10px;


/* Место */

position: absolute;
width: 82px;
height: 30px;
left: 10px;
top: 10px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 30px;

color: #372579;



/* Имя игрока */

position: absolute;
width: 155px;
height: 30px;
left: 175px;
top: 10px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 30px;

color: #372579;



/* Кол-во баллов */

position: absolute;
width: 192px;
height: 30px;
left: 413px;
top: 10px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 30px;

color: #372579;



/* 2 место */

position: absolute;
width: 605px;
height: 40px;
left: 5px;
top: 97px;



/* 2 место */

position: absolute;
width: 605px;
height: 40px;
left: 0px;
top: 0px;

background: #DFD6FF;
border-radius: 4px;


/* 2 */

position: absolute;
width: 15px;
height: 30px;
left: 38px;
top: 5px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 30px;

color: #372579;



/* 1554 */

position: absolute;
width: 55px;
height: 30px;
left: 478px;
top: 5px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 30px;

color: #372579;



/* Владимир Иванов */

position: absolute;
width: 244px;
height: 30px;
left: 126px;
top: 5px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 30px;

color: #372579;



/* 1 место */

position: absolute;
width: 605px;
height: 40px;
left: 5px;
top: 52px;



/* 1 место */

position: absolute;
width: 605px;
height: 40px;
left: 0px;
top: 0px;

background: #FFFFFF;
border-radius: 4px;


/* 1 */

position: absolute;
width: 10px;
height: 30px;
left: 38px;
top: 5px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 30px;

color: #372579;



/* 1600 */

position: absolute;
width: 59px;
height: 30px;
left: 476px;
top: 5px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 30px;

color: #372579;



/* Иван Петров */

position: absolute;
width: 171px;
height: 30px;
left: 162px;
top: 5px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 30px;

color: #372579;



/* 3 место */

position: absolute;
width: 605px;
height: 40px;
left: 5px;
top: 142px;



/* 3 место */

position: absolute;
width: 605px;
height: 40px;
left: 0px;
top: 0px;

background: #FFFFFF;
border-radius: 4px;


/* 3 */

position: absolute;
width: 15px;
height: 30px;
left: 38px;
top: 5px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 30px;

color: #372579;



/* 1550 */

position: absolute;
width: 55px;
height: 30px;
left: 478px;
top: 5px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 30px;

color: #372579;



/* Андрей Евланов */

position: absolute;
width: 221px;
height: 30px;
left: 137px;
top: 5px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 30px;

color: #372579;



/* 4 место */

position: absolute;
width: 605px;
height: 40px;
left: 5px;
top: 187px;



/* 4 место */

position: absolute;
width: 605px;
height: 40px;
left: 0px;
top: 0px;

background: #FFFFFF;
border-radius: 4px;


/* 4 */

position: absolute;
width: 17px;
height: 30px;
left: 38px;
top: 5px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 30px;

color: #372579;



/* 1528 */

position: absolute;
width: 54px;
height: 30px;
left: 479px;
top: 5px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 30px;

color: #372579;



/* Анастасия Лебедева */

position: absolute;
width: 276px;
height: 30px;
left: 109px;
top: 5px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 30px;

color: #372579;



/* 5 место */

position: absolute;
width: 605px;
height: 40px;
left: 5px;
top: 232px;



/* 5 место */

position: absolute;
width: 605px;
height: 40px;
left: 0px;
top: 0px;

background: #FFFFFF;
border-radius: 4px;


/* 5 */

position: absolute;
width: 15px;
height: 30px;
left: 38px;
top: 5px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 30px;

color: #372579;



/* 1517 */

position: absolute;
width: 48px;
height: 30px;
left: 482px;
top: 5px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 30px;

color: #372579;



/* Владимир Ленин */

position: absolute;
width: 232px;
height: 30px;
left: 131px;
top: 5px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 30px;

color: #372579;



/* 6 место */

position: absolute;
width: 605px;
height: 40px;
left: 5px;
top: 277px;



/* 6 место */

position: absolute;
width: 605px;
height: 40px;
left: 0px;
top: 0px;

background: #FFFFFF;
border-radius: 4px;


/* 6 */

position: absolute;
width: 16px;
height: 30px;
left: 38px;
top: 5px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 30px;

color: #372579;



/* 1499 */

position: absolute;
width: 57px;
height: 30px;
left: 477px;
top: 5px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 30px;

color: #372579;



/* София Завьялова */

position: absolute;
width: 230px;
height: 30px;
left: 132px;
top: 5px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 30px;

color: #372579;



/* 7 место */

position: absolute;
width: 605px;
height: 40px;
left: 5px;
top: 322px;



/* 7 место */

position: absolute;
width: 605px;
height: 40px;
left: 0px;
top: 0px;

background: #FFFFFF;
border-radius: 4px;


/* 7 */

position: absolute;
width: 15px;
height: 30px;
left: 38px;
top: 5px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 30px;

color: #372579;



/* 1482 */

position: absolute;
width: 57px;
height: 30px;
left: 477px;
top: 5px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 30px;

color: #372579;



/* Екатерина Андреева */

position: absolute;
width: 278px;
height: 30px;
left: 108px;
top: 5px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 30px;

color: #372579;



/* 8 место */

position: absolute;
width: 605px;
height: 40px;
left: 5px;
top: 367px;



/* 8 место */

position: absolute;
width: 605px;
height: 40px;
left: 0px;
top: 0px;

background: #FFFFFF;
border-radius: 4px;


/* 8 */

position: absolute;
width: 17px;
height: 30px;
left: 38px;
top: 5px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 30px;

color: #372579;



/* 1450 */

position: absolute;
width: 57px;
height: 30px;
left: 477px;
top: 5px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 30px;

color: #372579;



/* Петр Николайченко */

position: absolute;
width: 267px;
height: 30px;
left: 114px;
top: 5px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 30px;

color: #372579;



/* 9 место */

position: absolute;
width: 605px;
height: 40px;
left: 5px;
top: 412px;



/* 9 место */

position: absolute;
width: 605px;
height: 40px;
left: 0px;
top: 0px;

background: #FFFFFF;
border-radius: 4px;


/* 9 */

position: absolute;
width: 16px;
height: 30px;
left: 38px;
top: 5px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 30px;

color: #372579;



/* 1437 */

position: absolute;
width: 55px;
height: 30px;
left: 478px;
top: 5px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 30px;

color: #372579;



/* Анна Луганова */

position: absolute;
width: 199px;
height: 30px;
left: 148px;
top: 5px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 30px;

color: #372579;



/* Линии таблицы */

position: absolute;
width: 615px;
height: 450px;
left: 0px;
top: 0px;



/* Line 1 */

position: absolute;
width: 615px;
height: 0px;
left: 0px;
top: 50px;

border: 3px solid #372579;


/* Line 2 */

position: absolute;
width: 450px;
height: 0px;
left: 102px;
top: 0px;

border: 3px solid #372579;
transform: rotate(-90deg);


/* Line 3 */

position: absolute;
width: 450px;
height: 0px;
left: 402px;
top: 0px;

border: 3px solid #372579;
transform: rotate(-90deg);


/* Таблица результатов */

position: absolute;
width: 451px;
height: 49px;
left: calc(50% - 451px/2 + 0.5px);
top: 129px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 49px;
/* identical to box height */

color: #372579;

